<div>

    <button (click)="createUser()" class="button">Crear Usuario</button>

    @for(user of users; track user.ID) {
    <div  style="display: flex; align-items: center; justify-content: space-between; width: 50%; background-color: bisque;margin-top: 20px;">
        <p style="width: 150px;">{{user?.name}} {{user?.lastName}}</p>
        <p style="width: 150px;">{{user?.email}} </p> <button (click)="updateUser(user.ID!)"
            class="button">Actualizar</button> <button (click)="deleteUser(user.ID!)" class="button">Eliminar</button>
        <button (click)="viewUser(user.ID!)">Ver</button>
    </div>
    } @empty {
        <p>No hay usuarios</p>
    }


    <!-- <div *ngIf="users.length > 0; else noUsers">
        <div *ngFor="let user of users;"
            style="display: flex; align-items: center; justify-content: space-between; width: 50%; background-color: bisque;margin-top: 20px;">
            <p style="width: 150px;">{{user?.name}} {{user?.lastName}}</p>
            <p style="width: 150px;">{{user?.email}} </p> <button (click)="updateUser(user.id!)"
                class="button">Actualizar</button> <button (click)="deleteUser(user.id!)"
                class="button">Eliminar</button> <button (click)="viewUser(user.id!)">Ver</button>
        </div>
    </div>

    <ng-template #noUsers>
        <p>No hay usuarios</p>
    </ng-template> -->

</div>