

.button {
    background-color: rgb(254, 55, 95);
    border: none;
    padding: 10px 5px;
    border-radius: 8px;
    cursor: pointer;
}

.container {
    /* display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    width: 50%; 
    background-color: bisque;
    margin-top: 20px;
    padding: 4px 12px;
}